<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arialyy.simple">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <application
      android:name="com.arialyy.simple.base.BaseApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme.NoActionBar"
      tools:ignore="GoogleAppIndexingWarning">
    <!--android:name=".test.TestFTPDirActivity"-->
    <!--android:name=".test.TestFTPActivity"-->
    <!--android:name=".download.group.DownloadGroupActivity"-->
    <!--android:name=".MainActivity"-->
    <activity
        android:name=".MainActivity"
        android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity android:name=".core.download.DownloadActivity"/>
    <activity android:name=".core.download.SingleTaskActivity"/>
    <activity android:name=".core.download.multi_download.MultiTaskActivity"/>
    <activity android:name=".core.download.fragment_download.FragmentActivity"/>
    <activity android:name=".core.download.multi_download.MultiDownloadActivity"/>
    <activity android:name=".core.download.HighestPriorityActivity"/>
    <activity android:name="com.arialyy.simple.core.test.TestMutilTaskSysDownload"/>
    <activity android:name=".core.download.group.DownloadGroupActivity"/>
    <activity android:name=".core.download.FtpDownloadActivity"/>
    <activity android:name=".core.download.group.FTPDirDownloadActivity"/>
    <activity android:name=".core.upload.HttpUploadActivity"/>
    <activity android:name=".core.upload.FtpUploadActivity"/>
    <activity android:name=".core.download.KotlinDownloadActivity"/>
    <activity
        android:name=".core.FullScreenCodeActivity"
        android:theme="@style/FullScreen"
        android:screenOrientation="landscape"
        android:windowSoftInputMode="stateHidden|adjustResize"/>

    <service android:name=".core.download.service_download.DownloadService"/>

    <provider
        android:name="android.support.v4.content.FileProvider"
        android:authorities="${applicationId}.provider"
        android:exported="false"
        android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/aria_fileprovider_paths"/>
    </provider>
  </application>

</manifest>
